body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("my_images/background.jpg");
    background-size: cover;
    background-position: center;
}

#webcam-container {
    display: none;
}

#image-display {
    width: 100vw;
    height: 85vh;
    object-fit: contain;
}

#prediction {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blue;
    color: white;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    padding: 14px 0;
    z-index: 1000;
}

#start-btn,
#reset-btn {
    position: fixed;
    bottom: 80px;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    background-color: white;
    color: black;
    z-index: 1001;
}

#reset-btn {
    display: none;
}
